form {
  background-color: var(--color--form);
  display: grid;

}

@media(min-width: 1024px) {
  form {
    width: 100%;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
  }
}

@media(max-width: 1024px) {
  form {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
  }
}

.radios {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;

}

.btnForm {
  grid-column: 1 / span 2;
}
