:root {
  --color--form: #fff;
  --color--primary: #cce6f4;
  --color--secondary: #175676;
  --color--accent: #d62839;
  --border--radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

label {
  font-weight: bold;
}

body {
  background: var(--color--primary);
}

input[type="button" i] {
  border-color: var(--color--primary);
  border: 1px solid;
}

input[type="button" i]:focus {
  border: 1px solid;
}

input[type="checkbox"]:checked {
  background-color: var(--color--accent) !important;
  color: var(--color--accent) !important;

}

input[type="radio"]:checked {
  color: var(--color--accent) !important;
  background-color: var(--color--accent) !important;

}

h1 {
  text-align: center;
  font-size: 1.7em;
  color: var(--color--secondary)
}

.btn {
  padding: 5px;
  color: inherit;
  border-color : inherit;
}

.btn-default:focus, .btn-default:focus-visible, .btn-default:visited {
  border-color: var(--color--accent-2);
}

.btn-fill {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 30%;
  grid-template-rows: 100vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media(min-width: 1024px) {
  .container {
    grid-template-columns: 40%;
  }
}
@media(min-width: 600px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 80%;
  }
}
@media(max-width: 599px) {
  .container {
    grid-template-columns: 100%;
  }
}

.Buttons {
  grid-column: auto;
}

.buttons-wrapper {
  padding: 5px;
  display: grid;
  border-radius: var(--border--radius);
  width: 100%;
  justify-items: center;
}

a, p, hr, label {
  color: var(--color--secondary);
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-content: center;
}

.playground-title {
  align-self: center;
}